.App {
  padding: 2rem;
}

.description-box{
  position: relative;
  background-color: rgb(253, 187, 162);
  display: flex;
  height: 300px;
  border-radius: 30px;
}
.description-content{
  position: inherit;
  margin: 2%;
  text-align: justify;
  overflow: auto;
}
.image1{
  position: inherit;
  margin: 2%;
}

.card-space{
  display: flex;
  flex-wrap: wrap;
}

.main-search{
  outline: none;
  width: 40%;
  position: absolute;
  margin:-3rem;
  border: 1px solid grey;
  padding : 1rem 2rem;
  border-radius: 2rem;
  display: flex;
  background-color: rgb(255, 252, 249);
  left:30%;
  box-sizing: border-box;
}

.search-bar h5, .past-events h5{
  position: relative;
  width: 100%;
  font-family:cursive;
  font-size: 25px;
  margin: 0.5rem 0.5rem;
}
.search{
  width:125%;
  height: 1.5rem;
  border-radius: 5px;
}
.past-events {
  margin-left: 7rem;
}

.past{
  width: 100%;
  height: 1.8rem;
  border-radius: 5px;
}

.original-conatiner{
  position: relative;
  margin-top: 8rem;
}

.loadmore{
  position: relative;
  display: flex;
  justify-content: center;
}
.loadmore button{
  width: 20%;
  height: 4rem;
  font-family: cursive;
  font-size: 1.5rem;
  font-weight: bold;
  color: rgb(50, 1, 50);
  border: 0.5px solid gray;
  border-radius: 50px;
  background-color: rgb(252, 245, 238);

}
.loadmore:before,.loadmore:after{
  content:" ";
  width: 40%;
  height: 2px;
  margin: 27px 10px;
  vertical-align: center;
  background-color:grey;
  display:inline-block;
}

@media screen and (max-width: 1200px) {
  .main-search{
    display: block;
  }
  .past-events{
    margin-left: 0px;
  }
  .search{
    width:100%;
    height: 1.5rem;
    border-radius: 5px;
  }
  }